<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    <div>
        用户名:<input type="text" @keyup.delete="handle1" v-model="username">
    </div>
    <div>
        密码:<input type="text" @keyup.enter="handle0" v-model="password">
    </div>
    <div>
        <button @click="handle0">提交</button>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            username:'',
            password:''
        },
        methods: {
            handle0 : function () {
                console.log(this.username, this.password);
            },
            handle1 : function () {
                this.username = '';
            }
        }
    })
</script>
<!--1:如果事件直接绑定函数名称，那么默认会传递事件对象作为事件函数的一个参数-->
<!--2:如果事件绑定函数调用，那么事件对象必须作为最后一个参数显示传递，并且事件对象的名称必须是$event-->
</body>
</html>